.sidebar {
    position: fixed;
    left:0px;
    bottom:0px;
    top:60px;
    z-index: 99;
    background-color: white;
    width:130px;
    margin-right:5px;
    border-right-width:1px;
    border-style:solid;
    border-color:rgba(207, 198, 198, 0.667);
}

.sidebar-link {
    background-color: white;
    height:100px;
    width: 130px;
}

.sidebar-link:hover {
    background-color: rgb(236, 236, 236);

}

.home-button {
   width: 35px; 
   margin-left:45px;
   margin-top:20px;
}

.explore-button {
    width: 35px; 
    margin-left:45px;
     margin-top:20px;
}

.subscriptions-button {
    width: 35px; 
    margin-left:45px;
    margin-top:20px;
}

.originals-button {
    width: 35px; 
    margin-left:45px;
    margin-top:20px;
}

.ytmusic-button {
    width: 35px; 
    margin-left:45px;
    margin-top:20px;
}

.library-button {
    width: 35px; 
    margin-left:45px;
    margin-top:20px;
}

.Home, .explore, .subs, .orgs, .ytmusic, .library {
    font-family:Roboto, Arial;
    text-align: center;
}